### - 카카오 API : 키워드 검색

- 카카오 API 테스트
  - 앱 ID : 
  - 네이티브 앱 키 : 
  - REST API 키 : 
  - JavaScript 키 : 
  - Admin 키 : 
- 키워드 검색
  - 질의어를 통해 장소 검색 결과 반환
  - category_group_name, category_name, place_url

In [ ]:
import json
import requests
# REST 키
rest_api_key = ''
# 헤더
headers = {"Authorization" : "KakaoAK {}".format(rest_api_key)}
# 파라미터
params = {"query" : "제주도 추자도"}
url = "https://dapi.kakao.com/v2/local/search/keyword.json"

# GET을 이용하여 획득
res = requests.get(url, headers=headers, params=params)
# Json을 이용하여 해제
doc = json.loads(res.text)
# 200일 경우 정상
res.status_code

200

In [ ]:
# 결과(Dict형으로 표현)
# documets : 각 검색 결과 정보
#  - address_name(String) : 전체 지번 주소
#  - category_group_code(String) : 중요 카테고리만 그룹핑한 카테고리 그룹 코드
#  - category_group_name(String) : 중요 카테고리만 그룹핑한 카테고리 그룹명
#  - category_name(String) : 카테고리 이름
#  - distance(String) : 중심좌표까지의 거리 (단, x,y 파라미터를 준 경우에만 존재), 단위 meter
#  - id(String) : 장소 ID
#  - phone(String) : 전화번호
#  - place_name(String) : 장소명, 업체명
#  - place_url(String) : 장소 상세페이지 URL
#  - road_address_name(String) : 전체 도로명 주소
#  - x(String) : X 좌표값, 경위도인 경우 longitude (경도)
#  - y(String) : Y 좌표값, 경위도인 경우 latitude(위도)
# meta : 검색 결과 메타 정보
doc

{'documents': [{'address_name': '제주특별자치도 제주시 추자면 묵리',
   'category_group_code': 'AT4',
   'category_group_name': '관광명소',
   'category_name': '여행 > 관광,명소 > 섬',
   'distance': '',
   'id': '10839940',
   'phone': '064-728-4281',
   'place_name': '추자도',
   'place_url': 'http://place.map.kakao.com/10839940',
   'road_address_name': '',
   'x': '126.314847295503',
   'y': '33.9528630502803'},
  {'address_name': '제주특별자치도 제주시 추자면 대서리 4-9',
   'category_group_code': '',
   'category_group_name': '',
   'category_name': '금융,보험 > 금융서비스 > 협동,소비조합 > 수산업협동조합',
   'distance': '',
   'id': '12868902',
   'phone': '064-742-8193',
   'place_name': '추자도수협',
   'place_url': 'http://place.map.kakao.com/12868902',
   'road_address_name': '제주특별자치도 제주시 추자면 추자로 2',
   'x': '126.29819666571721',
   'y': '33.96255605970134'},
  {'address_name': '제주특별자치도 제주시 추자면 대서리 4-41',
   'category_group_code': '',
   'category_group_name': '',
   'category_name': '교통,수송 > 교통시설 > 항구,포구',
   'distance': '',
   'id': '8115207',
   'phone': '',
   'place_name': '상추자도항',
   'place_url': 'http://place.map.kakao.com/8115207',
   'road_address_name': '',
   'x': '126.29748114024576',
   'y': '33.96220669891634'},
  {'address_name': '제주특별자치도 제주시 추자면 예초리 343',
   'category_group_code': 'AD5',
   'category_group_name': '숙박',
   'category_name': '여행 > 숙박 > 펜션',
   'distance': '',
   'id': '23406950',
   'phone': '010-2715-5979',
   'place_name': '추자도에코하우스펜션',
   'place_url': 'http://place.map.kakao.com/23406950',
   'road_address_name': '제주특별자치도 제주시 추자면 추자로 657',
   'x': '126.32925982416374',
   'y': '33.949734836007586'},
  {'address_name': '제주특별자치도 제주시 추자면 묵리 399-1',
   'category_group_code': 'AD5',
   'category_group_name': '숙박',
   'category_name': '여행 > 숙박 > 민박',
   'distance': '',
   'id': '1545775404',
   'phone': '064-744-0907',
   'place_name': '추자도민박',
   'place_url': 'http://place.map.kakao.com/1545775404',
   'road_address_name': '제주특별자치도 제주시 추자면 묵리2길 37-7',
   'x': '126.31457363935306',
   'y': '33.94543665536303'},
  {'address_name': '제주특별자치도 제주시 도두일동 2635-1',
   'category_group_code': '',
   'category_group_name': '',
   'category_name': '가정,생활 > 식품판매 > 수산물판매',
   'distance': '',
   'id': '994154563',
   'phone': '064-746-3162',
   'place_name': '추자도수산',
   'place_url': 'http://place.map.kakao.com/994154563',
   'road_address_name': '제주특별자치도 제주시 도두항서길 26',
   'x': '126.4658085726156',
   'y': '33.506498620943155'},
  {'address_name': '제주특별자치도 제주시 추자면 묵리',
   'category_group_code': 'AT4',
   'category_group_name': '관광명소',
   'category_name': '여행 > 관광,명소 > 섬',
   'distance': '',
   'id': '18376919',
   'phone': '',
   'place_name': '하추자도',
   'place_url': 'http://place.map.kakao.com/18376919',
   'road_address_name': '',
   'x': '126.320623866253',
   'y': '33.945816373877'},
  {'address_name': '제주특별자치도 제주시 추자면 영흥리 77-3',
   'category_group_code': '',
   'category_group_name': '',
   'category_name': '교통,수송 > 교통시설 > 등대',
   'distance': '',
   'id': '13723853',
   'phone': '064-742-3780',
   'place_name': '추자도등대',
   'place_url': 'http://place.map.kakao.com/13723853',
   'road_address_name': '',
   'x': '126.29669880634921',
   'y': '33.9552515767028'},
  {'address_name': '제주특별자치도 제주시 추자면 영흥리',
   'category_group_code': 'AT4',
   'category_group_name': '관광명소',
   'category_name': '여행 > 관광,명소 > 섬',
   'distance': '',
   'id': '18376814',
   'phone': '',
   'place_name': '상추자도',
   'place_url': 'http://place.map.kakao.com/18376814',
   'road_address_name': '',
   'x': '126.293272487492',
   'y': '33.960111834008'},
  {'address_name': '제주특별자치도 제주시 추자면 신양리 874-11',
   'category_group_code': 'AD5',
   'category_group_name': '숙박',
   'category_name': '여행 > 숙박 > 펜션',
   'distance': '',
   'id': '1884148888',
   'phone': '010-2726-6921',
   'place_name': '추자도휴양펜션',
   'place_url': 'http://place.map.kakao.com/1884148888',
   'road_address_name': '제주특별자치도 제주시 추자면 석두리길 4',
   'x': '126.3234871180682',
   'y': '33.9399425387159'},
  {'address_name': '제주특별자치도 제주시 추자면 대서리 9',
   'category_group_code': '',
   'category_group_name': '',
   'category_name': '사회,공공기관 > 행정기관 > 과학기술정보통신부 > 우체국',
   'distance': '',
   'id': '10839944',
   'phone': '064-742-3588',
   'place_name': '추자도우체국',
   'place_url': 'http://place.map.kakao.com/10839944',
   'road_address_name': '제주특별자치도 제주시 추자면 대서2길 11',
   'x': '126.297005914133',
   'y': '33.9639484092359'},
  {'address_name': '제주특별자치도 제주시 노형동 2590-4',
   'category_group_code': '',
   'category_group_name': '',
   'category_name': '가정,생활 > 식품판매 > 수산물판매',
   'distance': '',
   'id': '10839941',
   'phone': '064-746-0060',
   'place_name': '추자도수산물직매장 만재수산',
   'place_url': 'http://place.map.kakao.com/10839941',
   'road_address_name': '제주특별자치도 제주시 광평동로 24',
   'x': '126.470490919783',
   'y': '33.4823326669326'},
  {'address_name': '제주특별자치도 제주시 추자면 대서리 4-4',
   'category_group_code': 'AD5',
   'category_group_name': '숙박',
   'category_name': '여행 > 숙박 > 여관,모텔',
   'distance': '',
   'id': '12170792',
   'phone': '064-742-8111',
   'place_name': '추자도여정여관',
   'place_url': 'http://place.map.kakao.com/12170792',
   'road_address_name': '제주특별자치도 제주시 추자면 추자로 4-1',
   'x': '126.297860040612',
   'y': '33.9627055936595'},
  {'address_name': '제주특별자치도 제주시 추자면 대서리 19-1',
   'category_group_code': '',
   'category_group_name': '',
   'category_name': '여행 > 관광,명소 > 관광안내소',
   'distance': '',
   'id': '1317879688',
   'phone': '',
   'place_name': '추자도여행자센터',
   'place_url': 'http://place.map.kakao.com/1317879688',
   'road_address_name': '제주특별자치도 제주시 추자면 추자로 26',
   'x': '126.296065099635',
   'y': '33.9634967840242'},
  {'address_name': '제주특별자치도 제주시 추자면 예초리 311-1',
   'category_group_code': '',
   'category_group_name': '',
   'category_name': '서비스,산업 > 농축산',
   'distance': '',
   'id': '22453826',
   'phone': '064-742-1009',
   'place_name': '추자도참굴비수산',
   'place_url': 'http://place.map.kakao.com/22453826',
   'road_address_name': '제주특별자치도 제주시 추자면 예초1길 15',
   'x': '126.331677954114',
   'y': '33.9536984269262'}],
 'meta': {'is_end': False,
  'pageable_count': 31,
  'same_name': {'keyword': '추자도', 'region': [], 'selected_region': '제주특별자치도'},
  'total_count': 31}}

### - 네이버 API : 지역 검색

- 네이버 API 테스트
  - Client ID : 
  - Client Secret : 
- 지역 검색
  - 질의어를 통해 장소 검색 결과 반환
  - category, description 사용 가능

In [ ]:
import json
import urllib
import requests
# REST 키
client_key = ''
client_secret = ''
# 헤더
headers = {"X-Naver-Client-Id" : client_key, 
           "X-Naver-Client-Secret" : client_secret}
# 파라미터
encText = urllib.parse.quote("제주도 신례토종닭식당")
url = "https://openapi.naver.com/v1/search/local.json?query="+encText

# GET을 이용하여 획득
res = requests.get(url, headers=headers)
# Json을 이용하여 해제
doc = json.loads(res.text)
# 200일 경우 정상
res.status_code

200

In [ ]:
# 결과(Dict형으로 표현)
# items : 각 검색 결과 정보
#  - title(String) : 업체, 기관명
#  - link(String) : 기관의 상세 정보가 제공되는 네이버 페이지의 하이퍼텍스트 link
#  - category(String) : 중요 카테고리만 그룹핑한 카테고리 그룹명
#  - description(String) : 기관명에 대한 설명을 제공
#  - telephone(String) : 하위 호환성을 위해 존재
#  - address(String) : 기관명의 주소를 제공
#  - roadAddress(String) : 기관명의 도로명 주소를 제공
#  - mapx(String) : x좌표를 제공한다. 제공값은 카텍좌표계 값으로 제공
#  - mapy(String) : y좌표를 제공한다. 제공값은 카텍 좌표계 값으로 제공
doc

{'lastBuildDate': 'Thu, 06 Jan 2022 18:46:25 +0900',
 'total': 1,
 'start': 1,
 'display': 1,
 'items': [{'title': '<b>신례토종닭식당</b>',
   'link': '',
   'category': '한식>닭요리',
   'description': '',
   'telephone': '',
   'address': '제주특별자치도 서귀포시 남원읍 신례리 2162-50',
   'roadAddress': '제주특별자치도 서귀포시 남원읍 신례천로 267-110',
   'mapx': '272667',
   'mapy': '80629'}]}

### - 관광 / 숙박 분리

- 관광 / 숙박은 카테고리상 차이가 나기 때문에 분리해주도록 한다.

#### 1. 데이터 확인

- 필터링1 버전으로 실행
- 필터링2는 레저/스포츠 부분만 전처리를 진행하였기 때문에 관광/숙박 시설은 필터링1과 동일

In [ ]:
import pandas as pd

df = pd.read_excel('./data/제주도 장소(POI) - 필터링1.xlsx')
df.head()

    위치좌표 X축값   위치좌표 Y축값      구분     장소명                       소재지
0  126.495979  33.486592  관광/숙박  코리아나호텔     제주특별자치도 제주시 연동 303-10
1  126.385364  33.470809  관광/숙박   수산유원지  제주특별자치도 제주시 애월읍 수산리 1918
2  126.771241  33.529109  관광/숙박     만장굴    제주특별자치도 제주시 구좌읍 월정리 41
3  126.941753  33.458386  관광/숙박   성산일출봉  제주특별자치도 서귀포시 성산읍 신천리 114
4  126.394439  33.408524  관광/숙박  제주경마공원  제주특별자치도 제주시 애월읍 소길리 1206

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7466 entries, 0 to 7465
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   위치좌표 X축값   7466 non-null   float64
 1   위치좌표 Y축값   7466 non-null   float64
 2   구분         7466 non-null   object
 3   장소명        7466 non-null   object
 4   소재지        7466 non-null   object
dtypes: float64(2), object(3)
memory usage: 291.8+ KB

- 구분 컬럼으로 카운트 확인

In [ ]:
df['구분'].unique()

array(['관광/숙박', '문화/종교/예술', '공원/산/동.식물원', '레져/스포츠'], dtype=object)

In [ ]:
df['구분'].value_counts()

관광/숙박         4621
레져/스포츠        2230
문화/종교/예술       347
공원/산/동.식물원     268
Name: 구분, dtype: int64

#### 2. 관광 / 숙박 : 숙박 시설 확인

- 관광/숙박 컬럼 선택

In [ ]:
# all = df.query('구분 == "관광/숙박"')
all = df[df['구분'] == '관광/숙박']
all.head()

    위치좌표 X축값   위치좌표 Y축값      구분     장소명                       소재지
0  126.495979  33.486592  관광/숙박  코리아나호텔     제주특별자치도 제주시 연동 303-10
1  126.385364  33.470809  관광/숙박   수산유원지  제주특별자치도 제주시 애월읍 수산리 1918
2  126.771241  33.529109  관광/숙박     만장굴    제주특별자치도 제주시 구좌읍 월정리 41
3  126.941753  33.458386  관광/숙박   성산일출봉  제주특별자치도 서귀포시 성산읍 신천리 114
4  126.394439  33.408524  관광/숙박  제주경마공원  제주특별자치도 제주시 애월읍 소길리 1206

In [ ]:
all.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4621 entries, 0 to 7465
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   위치좌표 X축값   4621 non-null   float64
 1   위치좌표 Y축값   4621 non-null   float64
 2   구분         4621 non-null   object
 3   장소명        4621 non-null   object
 4   소재지        4621 non-null   object
dtypes: float64(2), object(3)
memory usage: 216.6+ KB

- 숙박 시설 확인
  - '호텔', '민박', '모텔', '여관', '리조트', '펜션', '여인숙', '별장', '팬션', '콘도', '호스텔', '하우스'
  - '--텔'로 끝나는 경우
  - 2480개

In [ ]:
accommodations = ['호텔', '민박', '모텔', '여관', '리조트', '펜션', '여인숙', '별장', '팬션', '콘도', '호스텔', '하우스']

accommodation_df = all.query(f'장소명.str.contains("{"|".join(accommodations)}") or 장소명.str.endswith("텔")', engine='python').copy()

- 숙박 시설 DataFrame

In [ ]:
accommodation_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2480 entries, 0 to 7465
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   위치좌표 X축값   2480 non-null   float64
 1   위치좌표 Y축값   2480 non-null   float64
 2   구분         2480 non-null   object
 3   장소명        2480 non-null   object
 4   소재지        2480 non-null   object
dtypes: float64(2), object(3)
memory usage: 116.2+ KB

In [ ]:
len(accommodation_df['장소명'].unique())

2388

In [ ]:
# accommodation_df.to_excel('./accomodation.xlsx')

#### 3. 관광 / 숙박 : 관광 시설 확인

- 숙박 시설의 인덱스를 제거하여 관광 시설 판별

In [ ]:
tourism_df = all.drop(accommodation_df.index, axis=0).copy()
tourism_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2141 entries, 1 to 7454
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   위치좌표 X축값   2141 non-null   float64
 1   위치좌표 Y축값   2141 non-null   float64
 2   구분         2141 non-null   object
 3   장소명        2141 non-null   object
 4   소재지        2141 non-null   object
dtypes: float64(2), object(3)
memory usage: 100.4+ KB

In [ ]:
len(tourism_df['장소명'].unique())

2067

In [ ]:
# tourism_df.to_excel('tourism.xlsx')

#### 4. 관광 / 숙박 : 관광 시설 추가 관찰

- 엑셀을 이용해 직접 확인

### - 중복 좌표 처리

#### 1. 데이터 확인

- 필터링2 버전으로 실행
- 같은 좌표가 2개 이상인 경우만 추가하여 확인

In [1]:
import pandas as pd

df = pd.read_excel('./data/제주도 장소(POI) - 필터링2.xlsx')
df.head()

    위치좌표 X축값   위치좌표 Y축값      구분     장소명                       소재지
0  126.495979  33.486592  관광/숙박  코리아나호텔     제주특별자치도 제주시 연동 303-10
1  126.385364  33.470809  관광/숙박   수산유원지  제주특별자치도 제주시 애월읍 수산리 1918
2  126.771241  33.529109  관광/숙박     만장굴    제주특별자치도 제주시 구좌읍 월정리 41
3  126.941753  33.458386  관광/숙박   성산일출봉  제주특별자치도 서귀포시 성산읍 신천리 114
4  126.394439  33.408524  관광/숙박  제주경마공원  제주특별자치도 제주시 애월읍 소길리 1206

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6510 entries, 0 to 6509
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   위치좌표 X축값   6510 non-null   float64
 1   위치좌표 Y축값   6510 non-null   float64
 2   구분         6510 non-null   object
 3   장소명        6510 non-null   object
 4   소재지        6510 non-null   object
dtypes: float64(2), object(3)
memory usage: 254.4+ KB

In [3]:
df.columns

Index(['위치좌표 X축값 ', '위치좌표 Y축값 ', '구분', '장소명', '소재지'], dtype='object')

In [4]:
include_index = []      # 탐색한 좌표
duplicate_index = []    # 중복 좌표

for idx, row in df.iterrows():
    # 중복 좌표가 아닌 경우 탐색
    if idx not in include_index:
        # 중복 좌표의 인덱스 확인
        temp = list(df[((df['위치좌표 X축값 '] == row['위치좌표 X축값 ']) & (df['위치좌표 Y축값 '] == row['위치좌표 Y축값 ']))].index)
        # 길이가 2 이상인 경우 : 중복 좌표가 존재함을 의미
        if len(temp) >=2 :
            include_index.extend(temp)
            duplicate_index.append(temp)
        # 길이가 1인 경우 : 중복 좌표가 존재하지 않음을 의미
        else:
            include_index.append(idx)

- 전체 인덱스 개수

In [5]:
len(include_index)

6510

- 중복 좌표 개수

In [6]:
len(duplicate_index)

1073

#### 2. 중복 좌표 삭제

In [7]:
total = 0
names = {}
for idx, index_list in enumerate(duplicate_index, start=1):
    total += len(index_list)    # 중복 좌표의 개수 확인
    names[index_list[0]] = []   # 중복 좌표의 다른 이름 추가
    for idx2, index in enumerate(index_list):
        if idx2 != 0:
            # 다른 이름 추가
            names[index_list[0]].append(df.loc[index, '장소명'])
            # 행 삭제
            df.drop(index, axis=0, inplace=True)

- 전체 중복 좌표 수

In [8]:
total

2634

- 삭제한 행의 수

In [9]:
total - len(duplicate_index)

1561

- 중복 컬럼 삭제 후 정보

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4949 entries, 0 to 6431
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   위치좌표 X축값   4949 non-null   float64
 1   위치좌표 Y축값   4949 non-null   float64
 2   구분         4949 non-null   object
 3   장소명        4949 non-null   object
 4   소재지        4949 non-null   object
dtypes: float64(2), object(3)
memory usage: 232.0+ KB

In [11]:
df['구분'].value_counts()

관광/숙박         3701
레져/스포츠         805
문화/종교/예술       234
공원/산/동.식물원     209
Name: 구분, dtype: int64

In [12]:
# 추가 이름 컬럼 생성
# 중복 좌표의 '이름' 추가, 없을 경우 '.'으로 표현
df['Additional_Name'] = '.'
for idx, value in names.items():
    df.loc[idx, 'Additional_Name'] = ','.join(value)

In [13]:
df.head()

,위치좌표 X축값,위치좌표 Y축값,구분,장소명,소재지,Additional_Name
0,126.495979,33.486592,관광/숙박,코리아나호텔,제주특별자치도 제주시 연동 303-10,.
1,126.385364,33.470809,관광/숙박,수산유원지,제주특별자치도 제주시 애월읍 수산리 1918,.
2,126.771241,33.529109,관광/숙박,만장굴,제주특별자치도 제주시 구좌읍 월정리 41,"(거문오름용암동굴계)만장굴,(제주화산섬과용암동굴)만장굴"
3,126.941753,33.458386,관광/숙박,성산일출봉,제주특별자치도 서귀포시 성산읍 신천리 114,"일출봉,(제주화산섬과용암동굴)성산일출봉"
4,126.394439,33.408524,관광/숙박,제주경마공원,제주특별자치도 제주시 애월읍 소길리 1206,"경마공원,제주경마장"

- 중복 좌표 삭제

In [ ]:
# df.to_excel('./data/제주도 장소(POI) - 필터링3.xlsx')