### - POI 데이터 : 잘못된 이미지 삭제

In [ ]:
import pandas as pd

jeju_poi = pd.read_excel('./data/220118/_제주도_POI_have_image.xlsx', index_col=0)

In [ ]:
jeju_poi.head(1)

,keyword,address_name,category_group_code,category_group_name,category_name,distance,id,phone,place_name,place_url,road_address_name,x,y,rating,img_link
0,테마파크,제주특별자치도 제주시 연동 1320,CT1,관광명소,"문화,예술 > 문화시설 > 박물관",NaN,26388484,064-742-3700,수목원테마파크 아이스뮤지엄,http://place.map.kakao.com/26388484,제주특별자치도 제주시 은수길 69,126.488398,33.470777,1.0,https://img1.kakaocdn.net/relay/local/R640x320...

#### 1. 사용할 이미지 확인

- 로고, 장소와 다른 이미지를 삭제하고 남은 이미지 확인
  - 파일명 : (idx)_(plac ename).jpg
- .jpg를 삭제하고 '_'를 기준으로 split

In [ ]:
import os

path = './data/220118/_제주도_POI_IMAGE/'
use_idx = []
for dir_name in os.listdir(path):
    print(dir_name)
    for image in os.listdir(path + dir_name):
        image = image.replace('.jpg', '')
        idx, p_name = image.split('_')
        use_idx.append(int(idx))

관광명소
음식점
카페

In [ ]:
use_idx[:10], len(use_idx)

([0, 1031, 1032, 1035, 1036, 1037, 1039, 1045, 1046, 1047], 2306)

#### 2. 남은 이미지만 사용

- use_idx를 이용하여 해당하는 인덱스만 사용

In [ ]:
use_idx.sort()

In [ ]:
jeju_use = jeju_poi.loc[use_idx, :].copy()

In [ ]:
jeju_use.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2306 entries, 0 to 5740
Data columns (total 15 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   keyword              2306 non-null   object
 1   address_name         2306 non-null   object
 2   category_group_code  2306 non-null   object
 3   category_group_name  2306 non-null   object
 4   category_name        2306 non-null   object
 5   distance             0 non-null      float64
 6   id                   2306 non-null   int64
 7   phone                1588 non-null   object
 8   place_name           2306 non-null   object
 9   place_url            2306 non-null   object
 10  road_address_name    1989 non-null   object
 11  x                    2306 non-null   float64
 12  y                    2306 non-null   float64
 13  rating               2306 non-null   float64
 14  img_link             2306 non-null   object
dtypes: float64(4), int64(1), object(10)
memory usage: 288.2+ KB

In [ ]:
jeju_use.head(1)

,keyword,address_name,category_group_code,category_group_name,category_name,distance,id,phone,place_name,place_url,road_address_name,x,y,rating,img_link
0,테마파크,제주특별자치도 제주시 연동 1320,CT1,관광명소,"문화,예술 > 문화시설 > 박물관",NaN,26388484,064-742-3700,수목원테마파크 아이스뮤지엄,http://place.map.kakao.com/26388484,제주특별자치도 제주시 은수길 69,126.488398,33.470777,1.0,https://img1.kakaocdn.net/relay/local/R640x320...

#### 3. 데이터 저장

In [ ]:
# jeju_use.to_excel('./data/220118/_제주도_POI_final_use.xlsx')

##### ◽ㅇ

### - 이미지 RESIZE

- 이미지의 크기가 다르기 때문에 동일한 크기로 조절
  - 현재 : (256, 256)

#### 1. 이미지 Path 확인

- 폴더별로 이미지가 나누어져 있으므로 폴더를 key 값으로 dict형 구성

In [ ]:
import os

path = './data/220118/_제주도_POI_IMAGE/'
image_path = {'관광명소' : [], '음식점' : [], '카페' : []}
for dir_name in os.listdir(path):
    print(dir_name)
    for image in os.listdir(path + dir_name):
        image_path[dir_name].append(path + dir_name + '/' + image)

관광명소
음식점
카페

In [ ]:
image_path['관광명소'][:2], image_path['음식점'][:2], image_path['카페'][:2]

(['./data/220118/_제주도_POI_IMAGE/관광명소/0_수목원테마파크 아이스뮤지엄.jpg',
  './data/220118/_제주도_POI_IMAGE/관광명소/1031_메이즈랜드.jpg'],
 ['./data/220118/_제주도_POI_IMAGE/음식점/1003_화랑스시.jpg',
  './data/220118/_제주도_POI_IMAGE/음식점/1005_폭폭.jpg'],
 ['./data/220118/_제주도_POI_IMAGE/카페/1014_퍼시몬.jpg',
  './data/220118/_제주도_POI_IMAGE/카페/1020_플로레종.jpg'])

#### 2. 이미지 Resize

##### ◽PIL 사용

- jpg의 경우 중간에 오류가 발생하여 png로 변경

In [ ]:
from PIL import Image

home = 'C:/Users/Isanghada/Desktop/테스트/'
for kind in image_path.keys():
    for image in image_path[kind]:    
        name = image.split('/')[-1]
        img = Image.open(image)
        img.resize((256, 256)).save(home+kind+'/'+name[:-3]+'png', 'png')